@use "../../../../styles/variables" as *;

.shadow {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(2.75px);
  background: rgba($black, 0.815);
  transition: 0.15s ease-in-out opacity, 0.15s ease-in-out visibility;
  z-index: 89;
  &[data-open="false"] {
    opacity: 0;
    visibility: hidden;
  }
}

.wrapper {
  background-color: $white;
  padding: 2em 2em 6em 2em;
  padding: 1em 1em 5em 1em;
  position: fixed;
  right: 0;
  height: 100vh;
  top: 0;
  width: 80%;
  width: 100%;
  transform-origin: right;
  z-index: 90;
  transition: 0.5s ease-in-out transform;
  &[data-open="false"] {
    transform: translateX(100%);
  }
}

.settings {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cards,
.menus {
  display: grid;
  //   grid-template-columns: repeat(2, 1fr);
}

.menus {
  gap: 2.45em;
  gap: 1.85em;
  padding: 1rem 0 15rem 0;
  height: 100%;
  overflow-y: scroll;
}

.cards {
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.45em;
  margin-top: 0.82rem;
}

.menu {
  &__title {
    font-size: 0.96em;
  }
}

.card {
  &__link {
    font-size: 0.75em;
  }
}

@media (min-width: 765px) {
  .wrapper {
    padding: 2em 2em 6em 2em;
    width: clamp(15rem, 60rem, 85%);
  }
  .menus {
    padding: 1rem 0 5rem 0;
  }
}

@media (min-width: 1024px) {
  .settings {
    height: 4.5rem;
  }
}

@media (min-width: 1220px) {
  .wrapper {
    width: clamp(15rem, 110rem, 85%);
  }
  .settings {
    padding: 1rem 0 5rem 0;
    margin: 2rem 0;
  }
  .cards,
  .menus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .menus {
    padding: 1rem 0 8.5rem 0;
  }
}
