$font-openSans: var(--font-openSans);
$font-alegreya: var(--font-alegreya);

$white: rgb(247, 247, 247);
$black: rgb(17, 17, 17);
$gray-dark: rgb(128, 128, 128);
$gray: rgb(175, 174, 177);
$gray-light: rgb(233, 233, 233);
$platinum: rgb(236, 236, 236);
$purple: rgb(96, 108, 213);
$lavender: rgb(205, 207, 234);
