@use "../../../../styles/variables" as *;

.wrapper {
  margin: 2rem auto 5rem;
  margin: 2rem auto 1.5rem;
  width: clamp(5rem, 130rem, 85%);
}

.title {
  font-size: clamp(2.7rem, 5.2vw, 7.25rem);
  grid-column: 1/-1;
  line-height: 1.4;
  text-wrap: balance;
  margin-top: 2rem;
}

.excerpt {
  color: $color-text-secondary;
  font-size: clamp(1.35rem, 1.8vw, 2.1rem);
  grid-column: 1;
  line-height: 1.8;
  margin: 1.2rem 0 1.7rem;
  max-width: 85ch;
  text-wrap: balance;
}

.informations {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 0.4rem 2rem;
  justify-content: flex-start;
  width: fit-content;
}

.details {
  align-items: center;
  cursor: default;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
}

.detail {
  align-items: center;
  display: flex;
  gap: 0.34rem;
  justify-content: center;
  &__icon {
    align-items: center;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    width: 2.5rem;
  }
}

.media {
  aspect-ratio: 16/10;
  border-radius: 1rem;
  display: block;
  grid-column: 1/-1;
  margin-top: 2rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.image {
  object-fit: cover;
  object-position: center;
}
