@use "../../../../styles/variables" as *;

.wrapper {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 0.23em;
}

.primary {
  font-size: clamp(1.5rem, 1.96vw, 2.4rem);
  font-weight: 800;
}

.secondary {
  color: var(--subdomainColor);
  font-size: clamp(1.35rem, 1.55vw, 1.62rem);
  font-weight: 550;
}

.primary,
.secondary {
  transition: 0.12s linear color;
  &:focus,
  &:focus-within,
  &:hover {
    color: $orange;
  }
}
