.wrapper,
.brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
}

.wrapper {
  gap: 2.25px;
}

.brand {
  font-weight: 900;
  transition: 0.25s linear color;
}

.brand:focus,
.brand:focus-within,
.brand:hover {
  color: var(--clr-special);
}

.logo {
  filter: invert(1);
}

.subdomain:focus,
.subdomain:focus-within,
.subdomain:hover {
  color: var(--clr-subdomain);
}
