@use "../../../../styles/variables" as *;

.wrapper {
  align-items: center;
  background-color: $color-black;
  border-radius: 1.5em;
  display: flex;
  color: $color-white;
  font-size: 1.82rem;
  font-weight: 750;
  gap: 1em;
  justify-content: center;
  min-height: 5rem;
  padding: 0.76rem 2.3rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.12s ease-in-out background-color;
  width: max-content;
  &:focus,
  &:focus-within,
  &:focus-visible,
  &:hover {
    background-color: $color-accent;
  }
}
