@use "../../../../styles/variables" as *;

.wrapper {
  border: 2px solid $color-accent;
  border-radius: 2rem;
  margin: 3rem 0 4rem;
  width: fit-content;
  padding: 2rem;
  a {
    font-weight: 600;
  }
}
