@use "../../../../styles/variables" as *;

.wrapper,
.icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.wrapper {
  background-color: $color-space;
  flex-flow: row wrap;
  padding: 0.65rem 1.22rem;
  gap: 0.5rem;
  border-radius: 0.75rem;
  transition: 0.12s ease-in-out background-color, 0.12s ease-in-out color;
  &:focus,
  &:focus-within,
  &:focus-visible,
  &:hover {
    background-color: $color-text;
    color: $color-background;
  }
}

.label {
  //   background: lime;
  font-size: clamp(1.45rem, 1.5vw, 1.6rem);
  text-transform: uppercase;
}

.icon {
  //   background: fuchsia;
  font-size: 2.75rem;
}
