@use "../../../../../styles/variables" as *;

.wrapper {
  cursor: pointer;
  display: flex;
  place-items: center;
  //   background-color: red;
}

.label {
  //   background-color: aqua;
  font-size: 1.15em;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 650;
  margin-right: 0.5em;
  text-transform: uppercase;
}

.button {
  align-items: center;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  justify-content: space-around;
  position: relative;
  height: 3.5rem;
  width: 3.5rem;
  height: 2.5rem;
  width: 2.5rem;
}

.line {
  background-color: $black;
  height: 3px;
  transition: 0.2s linear transform;
  width: 100%;
}

.button[data-open="true"] {
  .line {
    position: absolute;
    top: 50%;
    transform-origin: center;
    left: 50%;
    &:nth-of-type(1) {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:nth-of-type(2) {
      transform: scaleX(0);
    }
    &:nth-of-type(3) {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
