@use "../../../../styles/variables" as *;

.wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 0.45rem;
  //   background: aqua;
  grid-column: 1;
}

.media {
  height: 4rem;
  width: 4rem;
  position: relative;
}

.logo {
  object-fit: contain;
  position: relative;
  height: 100%;
  width: 100%;
}

.brand {
  color: $color-text;
  font-size: clamp(1.75rem, 2.4vw, 3.5rem);
  font-weight: 800;
  transition: 0.15s ease-in-out color;
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:hover {
    color: $color-accent;
  }
}
