@use "../../../../styles/variables.scss" as *;

.wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  margin: auto auto auto 0;
  &:hover {
    color: $purple;
  }
}

.media {
  // background: red;
  display: block;
  height: 4rem;
  position: relative;
  width: 4rem;
  height: 2.153rem;
  width: 2.153rem;
}

.image {
  object-fit: contain;
  object-position: center;
}

.brand {
  margin-left: 0.27rem;
  margin-left: 0.1rem;
  font-size: 1.42em;
  font-size: 0.9em;
  font-weight: 800;
  transition: 0.12s linear color;
}

@media (min-width: 765px) {
  .brand {
    margin-left: 0.27rem;
    font-size: 1.3em;
  }
  .media {
    height: 3rem;
    width: 3rem;
  }
}
@media (min-width: 1120px) {
  .brand {
    font-size: 1.71em;
  }
  .media {
    height: 4.2rem;
    width: 4.2rem;
  }
}
