.wrapper {
  /* background: red; */
  align-items: center;
  display: flex;
  justify-content: flex-start;
  background-color: color-mix(
    in srgb,
    var(--clr-primary) 65%,
    var(--clr-background)
  );
  border-bottom: 2px solid var(--clr-border);
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0.45rem 2rem;
}
