@use "../../../../styles/variables" as *;

.wrapper {
  display: grid;
  gap: 1em;
  margin: 2dvh auto;
  width: 97%;
}

.container {
  display: grid;
  gap: 1.45em 0.65em;
}

.main,
.media {
  grid-column: 1/-1;
}

.media {
  aspect-ratio: 4/3;
  display: block;
  position: relative;
  width: 100%;
  z-index: 0;
}

.main {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  gap: 2em;
  justify-content: flex-start;
}

.image {
  border-radius: 1.2em;
  object-fit: cover;
  object-position: center;
}

.title {
  font-family: $font-alegreya;
  font-size: clamp(4.8rem, 7.8dvw, 11.27rem);
  font-weight: 800;
  line-height: 1.05;
  text-wrap: balance;
}

.excerpt {
  color: color-mix(in srgb, $gray-dark 35%, $black);
  font-size: clamp(1.7rem, 1.85dvw, 2.25rem);
  font-weight: 600;
  line-height: 1.9;
  max-width: 75ch;
  text-wrap: pretty;
}

.details {
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.detail {
  align-items: center;
  display: flex;
   justify-content: flex-start;
  flex-flow: row wrap;
  &__icon {
    align-items: center;
    // background: salmon;
    display: flex;
    height: 2.5rem;
    font-size: 2.15rem;
    justify-content: center;
    width: 2.5rem;
  }
  &__title {
    // background: palegreen;
  }
  &__content {
    // background: aqua;
    margin-left: 0.75rem;
  }
}

.socials {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  justify-content: flex-start;
  flex-flow: row wrap;
  gap: 2rem;
  // grid-column: 8/-1;
}

.toc {
  // background: lime;
  //   max-height: max-content;
}

@media (min-width: 585px) {
  .wrapper {
    // grid-template-columns: 120rem calc(100% - 1em - 120rem);
  }

  .media {
    // height: 65rem;
    aspect-ratio: 4/3;
  }

  .title {
    font-size: clamp(4.8rem, 9.8dvw, 11.27rem);
  }

  .excerpt {
    font-size: clamp(1.7rem, 1.95dvw, 2.45rem);
  }

  .details {
    align-items: center;
    display: grid;
    gap: 0.5rem;
    // grid-column: 1/8;
    // grid-template-columns: repeat(2, 1fr);
  }

  .socials {
    justify-content: flex-start;
  }
}

@media (min-width:1225px){
  .wrapper {
    grid-template-columns: 4fr 2fr;
  }

  .container {
    height:max-content;
  }

  .media {
    height: 65rem;
    aspect-ratio: unset;
    width: 100%;
  }

  .title {
    font-size: clamp(4.8rem, 7.8dvw, 9.27rem);
  }
}

@media (min-width: 1440px) {
  .wrapper {
    grid-template-columns: 6fr 3fr;
  }
  .container {
    grid-template-columns: repeat(12, 1fr);
  }

  .title {
    font-size: clamp(4.8rem, 9.8dvw, 11.27rem);
  }

  .media {
    height: 45rem;
    aspect-ratio: unset;
    width: 100%;
  }

  .details {
    grid-column: 1/8;
    grid-template-columns: repeat(2, 1fr);
  }

  .socials {
    justify-content: flex-end;
    grid-column: 8/-1;
  }
}
