$font-inter: var(--font-inter);
$font-lora: var(--font-lora);

$color-black: rgb(11, 12, 12);
$color-gold-one: rgb(255, 209, 0);
$color-gold-two: rgb(201, 162, 39);
$color-gray: rgb(77, 77, 77);
$color-gray-light: rgb(214, 214, 214);
$color-platinum: rgb(237, 237, 237);
$color-slate: rgb(42, 46, 52);
$color-white: rgb(255, 253, 247);
