@use "../../../../styles/variables" as *;

.wrapper {
  display: flex;
  height: 3rem;
  place-items: center;
  position: relative;
}

.field {
  background-color: color-mix(in srgb, $gray-light 75%, $gray);
  border: none;
  border-radius: 0.25em;
  color: $black;
  font-size: 0.75em;
  height: 100%;
  outline: none;
  padding: 0.375em 0.75em;
  transition: 0.15s linear background-color, 0.15s linear width;
  width: 13em;
  &::placeholder {
    color: color-mix(in srgb, $gray-dark 15%, $black);
  }
  &:focus,
  &:not(:placeholder-shown),
  &:focus-visible {
    background-color: $gray-light;
    box-shadow: 0 0 0 0.05rem $black;
  }
  &:focus,
  &:not(:placeholder-shown) {
    // width: 35em;
  }
}

.button {
  background-color: $black;
  border-radius: 0.25em;
  height: 3rem;
  margin-left: 0.21rem;
  transition: 0.15s linear background-color;
  width: 3rem;
  & > svg > path {
    fill: $white;
  }

  &:focus,
  &:focus-within,
  &:hover {
    background-color: color-mix(in srgb, $black 75%, $gray-dark);
  }
}

@media (prefers-reduced-motion: reduce) {
  .field {
    transition: none;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    height: 4.25rem;
  }

  .field {
    font-size: 0.875em;
    width: 13em;
    &:focus,
    &:not(:placeholder-shown) {
      width: clamp(20em, 26.5em, 80%);
    }
  }

  .button {
    height: 4rem;
    width: 4rem;
  }
}
@media (min-width: 1120px) {
  .field {
    width: 13em;
    &:focus,
    &:not(:placeholder-shown) {
      width: 32em;
    }
  }
}
