@use "../../../../styles/variables" as *;

.wrapper {
  margin: 15rem auto;
  width: 95%;
}

.container {
  align-items: start;
  display: grid;
  row-gap: 2rem;
}

.title {
  color: $color-heading;
  font-family: $font-robotoSlab;
  font-size: clamp(4.3rem, 4.92vw, 5.75rem);
}

.content {
  color: $color-text;
  font-size: clamp(1.65rem, 1.9vw, 2.12rem);
  font-weight: 400;
  line-height: 1.5;
  max-width: 70ch;
  text-wrap: pretty;
  width: min(85rem, 100%);
}

.cards {
  align-items: start;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(43.5rem, 100%), 1fr));
  justify-items: center;
  margin-top: 5dvh;
  & > * {
    height: 100%;
  }
}

@media (min-width: 1300px) {
  .container {
    grid-template-columns: calc(100% - 35rem) 35rem;
  }
}
