@use "../../../styles/variables" as *;

.wrapper,
.list {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.wrapper {
  background-color: color-mix(in srgb, $gray 10%, transparent);
  border-radius: 2em;
  border-radius: 1.62em;
  padding: 2em;
  padding: 1.62em 1.42em;
  gap: 1rem;
  width: min(max-content, 100%);
}

.title {
  font-size: clamp(2.7rem, 3.85dvw, 4.82rem);
  font-weight: 800;
}

.list {
  //   background: blue;
  gap: 0.75rem;
  width: 100%;
}
.item {
  //   width: 100%;
  color: color-mix(in srgb, $gray-dark 55%, $black);
  font-size: clamp(1.45rem, 1.5vw, 1.65rem);
  font-weight: 525;
  text-wrap: balance;
  transition: 0.2s linear color, 0.12s linear filter;
  //   background: red;
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:hover {
    color: $black;
  }
  &[data-level="2"] {
    // background: yellow;
    margin-left: 2rem;
    margin-left: 1.25rem;
  }
  &[data-level="3"] {
    margin-left: 4rem;
    margin-left: 2.5rem;
  }
}

@media (min-width: 768px) {
  .wrapper {
    margin: 0 auto;
    padding: 3em;
    width: clamp(5rem, 60rem, 100%);
  }
  .title {
    font-size: clamp(2.7rem, 4.15dvw, 5.82rem);
  }
  .item {
    font-size: clamp(1.45rem, 1.65vw, 1.75rem);
    &[data-level="2"] {
      margin-left: 2rem;
    }
    &[data-level="3"] {
      margin-left: 4rem;
    }
  }
}
