@use "../../../../styles/variables" as *;

.title,
.excerpt {
  text-wrap: pretty;
}

.footer,
.taxonomies {
  align-items: center;
  display: flex;
  flex-flow: row;
}

.taxonomy {
  // background: pink;
  &,
  & > a {
    display: block;
  }
  a {
    border-radius: 0.65rem;
    font-weight: 500;
    padding: 0.75rem 1.7rem;
    text-transform: uppercase;
  }
  &__category > a {
    background-color: $color-text-secondary;
    color: $color-white;
  }
  &__subcategory > a {
    border: 3px solid $color-text-secondary;
  }
}

.wrapper__side {
  img {
    display: none;
  }
}

.wrapper__big {
  margin: 10rem auto;
  width: 110.5rem;
  .header {
    margin-bottom: 2rem;
    .media {
      aspect-ratio: 16/9;
      border-radius: 2rem;
      overflow: hidden;
      display: block;
      position: relative;
      width: 100%;
      .image {
        object-fit: cover;
        object-position: center;
      }
    }
    .title {
      font-family: $font-robotoSlab;
      font-size: 6.65rem;
      font-weight: 700;
    }
  }
  .body {
    margin-bottom: 1rem;
    .excerpt {
      font-size: 2.45rem;
      font-weight: 350;
      margin-bottom: 1rem;
    }

    .button {
      align-items: center;
      background-color: $color-black;
      border-radius: 1rem;
      color: $color-white;
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin: auto 1rem auto auto;
      padding: 1.25rem 2.25rem;
      width: fit-content;
      transition: 0.12s linear background-color;
      &:focus,
      &:focus-visible,
      &:focus-within,
      &:hover {
        background-color: color-mix(
          in srgb,
          $color-gray 85%,
          $color-interaction
        );
      }
      &__label {
        font-size: 1.48rem;
        text-transform: uppercase;
      }
      &__icon {
        align-items: center;
        display: flex;
        font-size: 2.2rem;
        height: 2.4rem;
        justify-content: center;
        width: 2.4rem;
      }
    }
  }
  .footer,
  .taxonomies {
    gap: 2.15rem;
  }

  .footer {
    // background: lime;
    flex-direction: row-reverse;
    justify-content: flex-end;
    & > * {
      width: fit-content;
    }

    .release {
      // background: palegreen;
    }
    .taxonomies {
      justify-content: flex-start;
      // background: red;
    }
  }
}
