:root {
  --clr-black: #000;
  --clr-whtie: #fff;

  --clr-background: #000000;
  --clr-color: #f8f8f8;

  --clr-border: #3d4141;
  --clr-disabled: #181a1a;

  --clr-special: hsl(16, 82%, 51%);

  --clr-primary: #181818;
  --clr-secondary: #444444;
  --clr-tertiary: #111111;
  --clr-quaternary: #fff;
  --clr-quinary: #545454;
  --clr-senary: #f2f2f2;
}

@media (prefers-color-scheme: light) {
  :root {
    /* --clr-background: #101010;
    --clr-color: #dee4e7;
    --clr-secondary: #2e2d2d;
    --clr-tertiary: #a8a8a8; */
  }
}
