@use "../../../../styles/variables" as *;

.wrapper {
  font-size: 1.65rem;
  text-wrap: balance;
  line-height: 1.95;
  margin-bottom: 1rem;
  ol li {
    list-style: decimal inside;
  }
  ul li {
    list-style: circle inside;
  }

  mark {
    background-color: color-mix(in srgb, $color-accent 15%, transparent);
    // color: $color-background;
    // padding: 0.2rem;
    border-radius: 1rem;
  }

  pre {
  }

  a {
    text-decoration: underline;
    color: $color-link;
    &:focus,
    &:focus-within,
    &:focus-visible,
    &:hover {
      color: $color-link-hovered;
    }
  }
}
