@use "../../../../../styles/variables" as *;
.wrapper {
  margin: 5rem auto;
  width: min(40rem, 99%);
}

.media {
  aspect-ratio: 16/9;
  border-radius: 2rem;
  display: block;
  overflow: hidden;
  position: relative;
}

.image {
  object-fit: cover;
  object-position: center;
}

.details,
.taxonomies {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.main {
}

.title {
  font-family: $font-robotoSlab;
  font-size: clamp(1.85rem, 2.45vw, 2.64rem);
  transition: 0.15s linear color;
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:hover {
    color: $color-primary;
  }
}

.excerpt {
  margin: 1.1rem 0 1.65rem;
  font-size: 1.45rem;
}

.details {
  gap: 1rem;
  justify-content: space-between;
}

.taxonomies {
  justify-content: flex-end;
  gap: 0.75rem;
}

.taxonomies {
  gap: 1.14rem;
  justify-content: flex-end;
}

.taxonomy {
  a {
    align-items: center;
    border-radius: 0.55rem;
    display: flex;
    font-size: 1.4rem;
    font-weight: 550;
    height: 2.85rem;
    justify-content: center;
    padding: 0 0.85rem;
    text-transform: uppercase;
  }
}

.taxonomy__category {
  a {
    background-color: $color-gray;
    color: $color-background;
    transition: 0.15s ease-in-out background-color;
    &:focus,
    &:focus-visible,
    &:focus-within,
    &:hover {
      background-color: $color-primary;
    }
  }
}

.taxonomy__subcategory {
  a {
    border: 3px solid $color-gray;
    color: $color-gray;
    transition: 0.15s linear border-color, 0.15s linear color;
    &:focus,
    &:focus-visible,
    &:focus-within,
    &:hover {
      border-color: $color-primary;
      color: $color-primary;
    }
  }
}
