@use "../../../../../styles/variables" as *;

.wrapper {
  width: min(43.5rem, 99%);
}

.media {
  aspect-ratio: 16/9;
  border-radius: 2rem;
}

.title {
  font-size: clamp(2.15rem, 2.65vw, 3.21rem);
}

.excerpt {
  font-size: 1.45rem;
  margin: 1.1rem 0 1.65rem;
}

.details {
  gap: 1rem;
  justify-content: space-between;
}

.taxonomies {
  gap: 0.64rem;
  justify-content: flex-end;
}

.taxonomy {
  a {
    font-size: 1.4rem;
    height: 2.85rem;
  }
}
