@use "../../../../styles/variables" as *;

.wrapper {
  align-items: center;
  display: flex;
  height: 4.75rem;
  gap: 0.75rem;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin: 0 0 0 auto;
}

.field {
  border-radius: 0.25em;
  background-color: $platinum;
  width: 13em;
  height: 4.5rem;
  transition: 0.15s linear width;
  outline: none;
  font-size: 0.875em;
  padding: 0 1rem;
  //   padding: 0.375em;

  &:focus-visible {
    // box-shadow: 0 0 0 1px $black;
  }
  &:focus,
  &:not(:placeholder-shown) {
    background-color: color-mix(in srgb, $gray 45%, $platinum);
    width: 35em;
  }
  &::placeholder {
    color: #333;
  }
}

.button {
  align-items: center;
  border-radius: 0.25em;
  display: flex;
  height: 4.5rem;
  justify-content: center;
  width: 4.5rem;
  & > * {
    height: 55%;
    width: 55%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .field {
    transition: none;
  }
}
